span{
    background: rgb(206, 205, 207);
    border: 3.5px solid rgb(0, 0, 0);
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 500px;
    height: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

span:hover{
    background: black;
    color: aliceblue;
}

div{
    border: 5px dashed black;
    background: rgb(206, 205, 207);
    font-size: 50px;
    text-align:center;
    font-weight: bold;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

.destaque{
    border: 4px dashed black;
}